

<div class="text-center">
  <h1 class="h1">Game Result</h1>
  <h2 class="h2">Score: <%= @result[:score] %></h2>
  <h3 class="h3"><%= @result[:message] %></h3>
  <h3 class="h3">Translation: <%= @result[:translation] %></h3>
  <%= link_to "Ask a new question", game_path %>
</div>
